input:focus, textarea:focus, select:focus{
    border: none;
    outline: 1px solid blue;
}
.form-group td:first-child{
    padding-top: 20px;
    vertical-align: top;
}

.form-group td label{
    font-weight: 600;
    font-size: 1.2rem;
}